<p id="thetitle">Employee Menu</p>
<body class="thebody">
<div class="showaccinfo" id="accinfo">
    <button (click)="showAccInfo()" type="button">Show/Update Account Information</button>
    <div id="userinfo"></div>
</div>
<div class="showappinfo" id="appinfo">
    <button (click)="showAppInfo()" type="button">Show/Update Application Information</button>
    <div id="userappinfo"></div>
</div>
<button id="showapp" (click)="toggle()">Create Application</button>
<div id="createapp" class="createApplication" hidden>
    <p id="ms1">Event Type</p>
    <select id = "eventType" required>
        <option value="University Course">University Course</option>
        <option value="Seminar">Seminar</option>
        <option value="Certification Prep">Certification Prep</option>
        <option value="Certification">Certification</option>
        <option value="Technical Training">Technical Training</option>
        <option value="Other">Other</option>
    </select>
    <br>
    <p id="ms2">Event Cost</p>
    <input id="cost" name="eventCost" type="text" required>
    <br>
    <p id="ms3">Grading Type</p>
    <select id="gradeType" required>
        <option value="Letter Grade">Letter Grade</option>
        <option value="Pass/Fail">Pass/Fail</option>
    </select>
    <br>
    <p id="ms4">Event Start Date</p>
    <input id="date" name="currentDate" type="text" placeholder="YYYY-MM-DD" required>
    <button (click)="submitApp()" name="submitinfo" id="submitinfo" type="submit">Submit Information</button>
    <div id="returnStmt"></div>
</div>
<button (click)="showUpdateGrade()" type="button" id="updgbtn">Update Grade</button>
<div class="updategrade" id="updgrade" hidden>
    <p id="us1">Application ID</p>
    <input id="fid" name="Fid" type="text" required>
    <p id="us2">Grade</p>
    <select id="gType" required>
        <option value="Pass">Pass</option>
        <option value="Fail">Fail</option>
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
        <option value="D">D</option>
        <option value="F">F</option>
    </select>
    <button (click)="updateGrade()" id="updgrade" type="submit">Submit Information</button>
    <div id="updgradeReturnStmt"></div>
</div>
<br>
<button (click)="showDenials()" type="button">Show Denials</button>
<div class="viewdenials" id="vdenials" hidden></div>
<div class="element43" id="Element43">
    <p id="thepofp">Required Actions</p>
    <div class="todo" id="todonotif">none</div>
    <div class="adnotif" id="adNotif">
        <p id="us1">Form ID</p>
        <input id="f4id" name="theid" type="text" required>
        <select id='accden' required>
            <option value='Accept'>Accept</option>
            <option value='Deny'>Deny</option>
        </select>
        <button (click)="accDenyNotif()" id='accdenynotif' type='submit'>Accept/Deny Change</button>
        <div id='notifreturnstmt'></div>
    </div>
</div>
<div class="LogOut" id="logout">
    <button (click) = "logout()" id="btn1" type="button">Logout</button>
</div>
</body>