*{
    margin: 0;
    padding: 10;
    box-sizing: border-box;
    
}

.thebody {
    background: linear-gradient(to left, rgb(118, 163, 177), rgb(113, 184, 128));
    width: 100%;
    height: 100%;
    background-size: cover;
    height: 100vh;
}

#userinfo {
    background-color: darkcyan;
    color: wheat;
    
}

#userappinfo {
    background-color: darkcyan;
    color: wheat;
}

#thetitle {
    font-size: x-large;
    background-color: lemonchiffon;
    color: darkcyan;
    
}

.LogOut {
    position: absolute;
    top: 0.5%;
    left: 90%;
}

.updategrade {
    position: relative;
    left: 500px;
    top: 100px;
}

#updgbtn {
    position: relative;
    left: 500px;
    top: 50px;
}

#thepofp {
    font-style: italic;
    color: red;
}

.createApplication {
    background-color: darkcyan;
    color: darkslateblue;
}

.updategrade {
    background-color: darkcyan;
    color: darkslateblue;
}

.viewdenials {
    background-color: darkcyan;
    color: wheat;
}

.element43 {
    background-color: darkcyan;
    color: darkslateblue;
    width: fit-content;
}

#todonotif {
    color: wheat;
}
